@font-face {
  font-family: 'lemonmilkregular';
  src: url("../fonts/lemonmilk-webfont.eot");
  src: url("../fonts/lemonmilk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lemonmilk-webfont.woff2") format("woff2"), url("../fonts/lemonmilk-webfont.woff") format("woff"), url("../fonts/lemonmilk-webfont.ttf") format("truetype"), url("../fonts/lemonmilk-webfont.svg#lemonmilkregular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: Consolas, monaco, monospace;
  font-size: 1em;
  color: #333; }

.h1 {
  font-family: "lemonmilkregular";
  font-size: 3em;
  padding: 0.1em; }

.h3 {
  margin-top: 1em;
  margin-bottom: 0.4em;
  font-size: 1.8em;
  line-height: 1em;
  font-family: "lemonmilkregular";
  display: block; }
  @media screen and (min-width: 1024px) {
    .h3 {
      font-size: 1.2em; } }

.h4 {
  font-size: 1.2em;
  display: block;
  font-weight: bold;
  font-style: italic; }
  @media screen and (min-width: 1024px) {
    .h4 {
      font-size: 1em; } }

.nav {
  font-family: Consolas, monaco, monospace;
  text-transform: lowercase;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #fff;
  text-align: center;
  padding: 0;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: -moz-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1); }
  .nav ul {
    list-style-type: none;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .nav ul {
        float: right;
        padding-right: 2em; } }
    @media screen and (min-width: 1024px) {
      .nav ul {
        margin-right: 6.5em; } }
    @media screen and (min-width: 1280px) {
      .nav ul {
        margin-right: 9.5em; } }
    .nav ul li {
      font-size: 1.2em;
      text-align: center;
      display: inline-block;
      background-color: #fff;
      padding: 0.9em 0.3em 0.5em;
      transition: 500ms all ease-in; }
      @media screen and (min-width: 768px) {
        .nav ul li {
          font-size: 1.5em;
          padding: 0.6em 0.3em 0.2em; } }
      .nav ul li:first-child a:link, .nav ul li:first-child a:visited {
        color: #a0b0ff;
        background-color: #e8ecff; }
      .nav ul li:first-child a:active, .nav ul li:first-child a:hover {
        color: #ff7835;
        background-color: #fff8e0; }
      .nav ul li:nth-child(2) a:link, .nav ul li:nth-child(2) a:visited {
        color: #ff55a1;
        background-color: #ffeef6; }
      .nav ul li:nth-child(2) a:active, .nav ul li:nth-child(2) a:hover {
        color: #ff7835;
        background-color: #fff8e0; }
      .nav ul li:nth-child(3) a:link, .nav ul li:nth-child(3) a:visited {
        color: #9ee00f;
        background-color: #f3ffd6; }
      .nav ul li:nth-child(3) a:active, .nav ul li:nth-child(3) a:hover {
        color: #ff7835;
        background-color: #fff8e0; }
      .nav ul li:nth-child(4) a:link, .nav ul li:nth-child(4) a:visited {
        color: #86e1f1;
        background-color: #e2fbff; }
      .nav ul li:nth-child(4) a:active, .nav ul li:nth-child(4) a:hover {
        color: #ff7835;
        background-color: #fff8e0; }
  .nav.hidden {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }

.splash {
  position: relative;
  top: 4.6em;
  background-color: #fdf1c5;
  padding: 1.4em 1em 1em;
  text-align: center;
  transition: 500ms all ease-in; }
  @media screen and (min-width: 768px) {
    .splash {
      padding: 3.6em 3em 3em; } }
  @media screen and (min-width: 1024px) {
    .splash {
      padding: 4.6em 9em 4em; } }
  @media screen and (min-width: 1280px) {
    .splash {
      padding: 3.7em 12em; } }

.about {
  position: relative;
  top: 4.6em;
  background-color: #c2eef5;
  text-align: center;
  padding: 1em;
  transition: 500ms all ease-in; }
  .about #abt {
    color: #a0b0ff;
    background-color: #fff; }
  .about #me {
    text-align: center; }
    .about #me img {
      width: 70%;
      margin-top: 1em; }
  .about .desc {
    font-size: 1.1em;
    padding: 1em;
    background-color: #fff;
    border: 0.8em solid #fdf1c5; }
  @media screen and (min-width: 768px) {
    .about {
      padding: 2.8em 2em; }
      .about #me {
        margin-top: 2em;
        margin-right: 1em;
        display: inline-table;
        width: 30%;
        vertical-align: top; }
        .about #me img {
          width: 100%; }
      .about .desc {
        margin-top: 2em;
        display: inline-table;
        width: 50%; } }
  @media screen and (min-width: 1024px) {
    .about {
      padding: 4.8em 5em; }
      .about #me {
        margin-top: 1em;
        margin-right: 1.5em; }
      .about .desc {
        margin-top: 3em;
        width: 40%; } }
  @media screen and (min-width: 1280px) {
    .about {
      padding: 4.8em 8em; }
      .about .desc {
        margin-top: 4em; } }

.skills {
  position: relative;
  top: 4.6em;
  background-color: #f3ffd6;
  text-align: center;
  padding: 1em;
  transition: 500ms all ease-in; }
  @media screen and (min-width: 768px) {
    .skills {
      padding: 3.7em; } }
  @media screen and (min-width: 1024px) {
    .skills {
      padding: 3.7em 9.8em; } }
  @media screen and (min-width: 1280px) {
    .skills {
      padding: 3.7em 14.8em; } }
  .skills .desc2 {
    padding: 1em;
    background-color: #fff;
    border: 0.8em solid #bf7eed; }
    @media screen and (min-width: 768px) {
      .skills .desc2 {
        padding: 2em; } }
    @media screen and (min-width: 1024px) {
      .skills .desc2 {
        padding: 2.5em; } }
  .skills .h2 {
    font-family: "lemonmilkregular";
    color: #ff7835;
    font-size: 1.8em; }
    @media screen and (min-width: 768px) {
      .skills .h2 {
        font-size: 2.6em; } }
  .skills ul.level {
    margin-top: 0;
    padding: 0;
    font-family: "lemonmilkregular";
    list-style-type: none;
    font-size: 1.1em; }
    @media screen and (min-width: 768px) {
      .skills ul.level {
        font-size: 1.6em;
        margin-bottom: 0.3em; } }
    .skills ul.level li {
      display: inline-block;
      padding: 0.2em; }
      .skills ul.level li:first-child {
        color: #86e1f1; }
      .skills ul.level li:nth-child(2) {
        color: #ffba35; }
      .skills ul.level li:last-child {
        color: #9ee00f; }
  .skills .name {
    display: inline-table;
    width: 7em;
    margin: auto;
    text-align: right;
    font-size: 1.1em;
    vertical-align: baseline; }
  .skills .blue {
    background-color: #86e1f1;
    height: 1em; }
  .skills .orange {
    background-color: #ffba35;
    height: 1em; }
  .skills .green {
    background-color: #9ee00f;
    height: 1em; }
  .skills .bar {
    display: inline-table;
    margin: auto;
    height: 1em;
    width: 50%;
    vertical-align: middle; }
  .skills .skill:hover {
    background-color: #ffeef6; }
    .skills .skill:hover .green {
      background-color: #b9f92f; }
    .skills .skill:hover .orange {
      background-color: #ffd646; }
    .skills .skill:hover .blue {
      background-color: #b6f4ff; }

.work {
  position: relative;
  top: 4.6em;
  background-color: #ffeef6;
  padding: 1em;
  transition: 500ms all ease-in; }
  @media screen and (min-width: 768px) {
    .work {
      padding: 3.7em;
      text-align: justify; } }
  @media screen and (min-width: 1024px) {
    .work {
      padding: 3.7em 9.8em; } }
  @media screen and (min-width: 1280px) {
    .work {
      padding: 3.7em 14.8em; } }
  .work #wrk {
    color: #ff55a1;
    background-color: #fff; }
  .work .project {
    margin-top: 2em;
    padding: 1.5em;
    background-color: #fff; }
    @media screen and (min-width: 768px) {
      .work .project {
        display: inline-table;
        width: 49%;
        vertical-align: top; } }
    @media screen and (min-width: 1024px) {
      .work .project {
        width: 32%;
        padding: 1em; } }
    .work .project .image {
      display: inline-block;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      float: left; }
      .work .project .image .pic {
        margin: auto;
        display: block;
        max-width: 100%;
        height: auto; }
    .work .project .info {
      display: inline-block;
      margin: auto;
      vertical-align: middle; }
      .work .project .info span {
        text-align: center; }
      .work .project .info p {
        text-align: center;
        font-size: 1.1em; }
        @media screen and (min-width: 1024px) {
          .work .project .info p {
            font-size: 0.9em; } }

.art {
  position: relative;
  top: 4.6em;
  margin: auto;
  background-color: #e3f9f1;
  text-align: center;
  padding: 3em 0 0; }
  @media screen and (min-width: 768px) {
    .art {
      padding: 3.7em; } }
  @media screen and (min-width: 1024px) {
    .art {
      padding: 3.7em 9.8em; } }
  @media screen and (min-width: 1280px) {
    .art {
      padding: 3.7em 14.8em; } }
  .art #artsy {
    color: #9ee00f;
    background-color: #fff; }
  .art #grid {
    width: 100%;
    display: table;
    margin: 2em auto 0; }
    .art #grid .block {
      display: inline-table;
      width: 50%; }
      .art #grid .block p {
        background-color: rgba(255, 255, 255, 0.8);
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1em; }
        .art #grid .block p span {
          display: block;
          font-size: 1.1em;
          font-weight: bold; }
          .art #grid .block p span a {
            color: #0ca6bb; }
            .art #grid .block p span a:hover {
              color: #36d5be; }
      .art #grid .block:first-child {
        background-color: #ffeef6;
        background-image: url("../img/gallery/design/gradient.jpg");
        background-size: 20em; }
      .art #grid .block:nth-child(2) {
        background-color: #c2eef5;
        background-image: url("../img/gallery/trad/print.png");
        background-size: 30em; }
      .art #grid .block:nth-child(3) {
        background-color: #e8cbfb;
        background-image: url("../img/gallery/dig/me.jpg");
        background-size: 13em; }
      .art #grid .block:nth-child(4) {
        background-color: #f3ffd6;
        background-image: url("../img/gallery/logo-3d/mike.png");
        background-size: 25em; }
      .art #grid .block:nth-child(5) {
        background-color: #ffe1d2;
        background-image: url("../img/gallery/photo/apple.jpg");
        background-size: 18em; }
      .art #grid .block:nth-child(6) {
        background-color: #e8ecff;
        background-image: url("../img/gallery/pixel/castle.gif");
        background-size: 30em; }

.contact {
  position: relative;
  top: 4.6em;
  background-color: #e8cbfb;
  text-align: center;
  padding: 1em;
  transition: 500ms all ease-in; }
  @media screen and (min-width: 768px) {
    .contact {
      padding: 3.7em; } }
  @media screen and (min-width: 1024px) {
    .contact {
      padding: 3.7em 9.8em; } }
  .contact #mail {
    color: #86e1f1;
    background-color: #fff; }
  .contact .mail {
    text-align: left;
    font-size: 1.1em;
    padding: 0.4em;
    margin-top: 1em;
    background-color: #fff;
    border: 0.6em solid #f3ffd6;
    color: #993dda; }
    @media screen and (min-width: 768px) {
      .contact .mail {
        width: 70%;
        margin: 1em auto 0; } }
    @media screen and (min-width: 1024px) {
      .contact .mail {
        padding: 1em; } }
    .contact .mail .fa {
      padding-left: 0.3em;
      padding-right: 0.8em; }
    .contact .mail a {
      font-weight: bold;
      text-decoration: none; }
    .contact .mail .lin {
      color: #0072b5; }
      .contact .mail .lin:hover {
        color: #1a91d7; }
    .contact .mail .twit {
      color: #5da8dc; }
      .contact .mail .twit:hover {
        color: #83c6f5; }
    .contact .mail .git {
      color: #ffba35; }
      .contact .mail .git:hover {
        color: #ffcd6e; }
    .contact .mail .pen {
      color: #ff55a1; }
      .contact .mail .pen:hover {
        color: #ff95c4; }
  .contact .email {
    width: 70%;
    margin: 1.5em auto auto;
    padding-top: 0.2em;
    font-weight: bold;
    color: #fdf1c5;
    background-color: #cba0e9;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      .contact .email {
        width: 38%; } }
    .contact .email:hover {
      background-color: #bf7eed; }
      .contact .email:hover a {
        color: #c2eef5; }
    .contact .email a {
      color: #f3ffd6;
      text-decoration: none; }

.footer {
  position: relative;
  top: 4.6em;
  background-color: #fdf1c5;
  text-align: center;
  padding: 1em 0; }
  .footer .copyright {
    padding-top: 0.4em;
    padding-bottom: 0.1em;
    background-color: #fff;
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
