.media {
  color: blue; }
  @media screen and (min-width: 768px) {
    .media {
      color: red; } }

@font-face {
  font-family: 'lemonmilkregular';
  src: url("../fonts/lemonmilk-webfont.eot");
  src: url("../fonts/lemonmilk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lemonmilk-webfont.woff2") format("woff2"), url("../fonts/lemonmilk-webfont.woff") format("woff"), url("../fonts/lemonmilk-webfont.ttf") format("truetype"), url("../fonts/lemonmilk-webfont.svg#lemonmilkregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: Consolas, monaco, monospace;
  font-size: 1em; }

.h1 {
  font-family: "lemonmilkregular";
  font-size: 3em;
  padding: 0.1em; }

.h3 {
  margin-top: 1em;
  margin-bottom: 0.4em;
  font-size: 1.8em;
  line-height: 1em;
  font-family: "lemonmilkregular";
  display: block; }

.h4 {
  font-size: 1.2em;
  display: block;
  font-weight: bold;
  font-style: italic; }

.nav {
  font-family: Consolas, monaco, monospace;
  text-transform: lowercase;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #fff;
  text-align: center;
  color: #f43;
  padding: 0;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: -moz-transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1); }
  .nav ul {
    list-style-type: none;
    padding: 0; }
    .nav ul li {
      text-align: center;
      display: inline-block;
      background-color: #fff;
      padding: 0.5em 0.3em; }
  .nav li:first-child a {
    font-size: 1.2em; }
    .nav li:first-child a:link, .nav li:first-child a:visited {
      color: #a0b0ff;
      background-color: #e8ecff; }
    .nav li:first-child a:active, .nav li:first-child a:hover {
      color: #ff7835;
      background-color: #fff8e0; }
  .nav li:nth-child(2) a {
    font-size: 1.4em; }
    .nav li:nth-child(2) a:link, .nav li:nth-child(2) a:visited {
      color: #ff55a1;
      background-color: #ffeef6; }
    .nav li:nth-child(2) a:active, .nav li:nth-child(2) a:hover {
      color: #ff7835;
      background-color: #fff8e0; }
  .nav li:nth-child(3) a {
    font-size: 1.4em; }
    .nav li:nth-child(3) a:link, .nav li:nth-child(3) a:visited {
      color: #9ee00f;
      background-color: #f3ffd6; }
    .nav li:nth-child(3) a:active, .nav li:nth-child(3) a:hover {
      color: #ff7835;
      background-color: #fff8e0; }
  .nav li:nth-child(4) a {
    font-size: 1.4em; }
    .nav li:nth-child(4) a:link, .nav li:nth-child(4) a:visited {
      color: #86e1f1;
      background-color: #e2fbff; }
    .nav li:nth-child(4) a:active, .nav li:nth-child(4) a:hover {
      color: #ff7835;
      background-color: #fff8e0; }
  .nav.hidden {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }

.splash {
  position: relative;
  top: 4.6em;
  background-color: #fdf1c5;
  padding: 3.5em 1em 1em;
  text-align: center;
  transition: all 1s ease; }

.about {
  position: relative;
  top: 4.6em;
  background-color: #c2eef5;
  text-align: center;
  padding: 1em; }
  .about #abt {
    color: #a0b0ff;
    background-color: #fff; }
  .about img {
    width: 70%;
    margin-top: 1em; }
  .about .desc {
    font-size: 1.1em;
    padding: 1em;
    background-color: #fff;
    border: 0.8em solid #fdf1c5; }

.skills {
  position: relative;
  top: 4.6em;
  background-color: #f3ffd6;
  text-align: center;
  padding: 1em; }
  .skills .desc2 {
    padding: 1em;
    background-color: #fff;
    border: 0.8em solid #bf7eed; }
  .skills .h2 {
    font-family: "lemonmilkregular";
    color: #ff7835;
    font-size: 1.8em; }
  .skills ul.level {
    margin-top: 0;
    padding: 0;
    font-family: "lemonmilkregular";
    list-style-type: none;
    font-size: 1.1em; }
    .skills ul.level li {
      display: inline-block;
      padding: 0.2em; }
      .skills ul.level li:first-child {
        color: #86e1f1; }
      .skills ul.level li:nth-child(2) {
        color: #ffba35; }
      .skills ul.level li:last-child {
        color: #9ee00f; }
  .skills .name {
    display: inline-table;
    width: 7em;
    margin: auto;
    text-align: right;
    font-size: 1.1em;
    vertical-align: baseline; }
  .skills .blue {
    background-color: #86e1f1;
    height: 1em; }
  .skills .orange {
    background-color: #ffba35;
    height: 1em; }
  .skills .green {
    background-color: #9ee00f;
    height: 1em; }
  .skills .bar {
    display: inline-table;
    margin: auto;
    height: 1em;
    width: 50%;
    vertical-align: middle; }
  .skills .skill:hover {
    background-color: #ffeef6; }
    .skills .skill:hover .green {
      background-color: #b9f92f; }
    .skills .skill:hover .orange {
      background-color: #ffd646; }
    .skills .skill:hover .blue {
      background-color: #b6f4ff; }

.work {
  position: relative;
  top: 4.6em;
  background-color: #ffeef6;
  text-align: center;
  padding: 1em; }
  .work #wrk {
    color: #ff55a1;
    background-color: #fff; }
  .work .project {
    margin-top: 2em;
    padding: 1.5em;
    background-color: #fff; }
    .work .project .image {
      display: inline-block;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      float: left; }
      .work .project .image .pic {
        margin: auto;
        display: block;
        max-width: 100%;
        height: auto; }
    .work .project .info {
      display: inline-block;
      margin: auto;
      vertical-align: middle; }
      .work .project .info p {
        font-size: 1.1em; }

.contact {
  position: relative;
  top: 4.6em;
  background-color: #e8cbfb;
  text-align: center;
  padding: 1em; }
  .contact #mail {
    color: #86e1f1;
    background-color: #fff; }
  .contact .mail {
    text-align: left;
    font-size: 1.1em;
    padding: 0.4em;
    margin-top: 1em;
    background-color: #fff;
    border: 0.6em solid #f3ffd6;
    color: #993dda; }
    .contact .mail .fa {
      padding-left: 0.3em;
      padding-right: 0.8em; }
    .contact .mail a {
      font-weight: bold;
      text-decoration: none; }
    .contact .mail .lin {
      color: #0072b5; }
      .contact .mail .lin:hover {
        color: #1a91d7; }
    .contact .mail .twit {
      color: #5da8dc; }
      .contact .mail .twit:hover {
        color: #83c6f5; }
    .contact .mail .git {
      color: #ffba35; }
      .contact .mail .git:hover {
        color: #ffcd6e; }
    .contact .mail .pen {
      color: #ff55a1; }
      .contact .mail .pen:hover {
        color: #ff95c4; }
  .contact .email {
    width: 70%;
    margin: 1.5em auto auto;
    padding-top: 0.2em;
    font-weight: bold;
    color: #fdf1c5;
    background-color: #cba0e9;
    cursor: pointer; }
    .contact .email:hover {
      background-color: #bf7eed; }
      .contact .email:hover a {
        color: #c2eef5; }
    .contact .email a {
      color: #f3ffd6;
      text-decoration: none; }

.art {
  position: relative;
  top: 4.6em;
  background-color: #e3f9f1;
  text-align: center;
  padding: 1em; }
  .art #artsy {
    color: #9ee00f;
    background-color: #fff; }

.footer {
  position: relative;
  top: 4.6em;
  background-color: #fdf1c5;
  text-align: center;
  padding: 1em 0; }
  .footer .copyright {
    padding-top: 0.4em;
    padding-bottom: 0.1em;
    background-color: #fff;
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
