$navbar: #fff;
$navtext: #f43;
$heading: 'lemonmilkregular';

@font-face {
    font-family: 'lemonmilkregular';
    src: url('../fonts/lemonmilk-webfont.eot');
    src: url('../fonts/lemonmilk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lemonmilk-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilk-webfont.woff') format('woff'),
         url('../fonts/lemonmilk-webfont.ttf') format('truetype'),
         url('../fonts/lemonmilk-webfont.svg#lemonmilkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #fdf;
    font-size: 1em;
}

h1 {
  font-family: $heading;
  font-size: 10em;
}
.splash {
    position: relative;
    top: 4.6em;
    background-color: #fdf1c5;
    padding: 2em;
    text-align: center;
      transition: all 1s ease;

}
.nav {
    font-family: Consolas, monaco, monospace;
    text-transform: lowercase;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: $navbar;
    text-align: center;
    color: $navtext;
    padding: 0;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.25,0.1,0.25,1);
    -moz-transition: -moz-transform 1s cubic-bezier(0.25,0.1,0.25,1);
    transition: transform 1s cubic-bezier(0.25,0.1,0.25,1);
    ul {
        list-style-type: none;
        float: right;
        margin: 1em 1em 0.5em 0em;
        li {
            display: inline-block;
            background-color: $navbar;
            padding: 1em;
        }
    }
}
.nav.hidden {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.hide {
    display: none;
    visibility: hidden;
}
