$navbar: #fff;
$navtext: #f43;
$heading: 'lemonmilkregular';
$body: Consolas, monaco, monospace;
$pink1: #ff55a1;
$pink2: #ffeef6;
$orange1: #ff7835;
$orange3: #ffe1d2;
$orange2: #ffba35;
$green1: #9ee00f;
$green2: #f3ffd6;
$peach: #fdf1c5;
$peach1: #fff8e0;
$blue1: #86e1f1;
$blue2: #c2eef5;
$blue3: #e2fbff;
$cyan: #e3f9f1;
$indigo: #a0b0ff;
$indigo1: #e8ecff;
$purple: #993dda;
$purple1: #bf7eed;
$purple2: #cba0e9;
$purple3: #e8cbfb;
$linkedin: #0072b5;
$twitter: #5da8dc;
.media {
    color: blue;
    @media screen and (min-width: 768px) {
        color: red;
    }
}

.testing {
font-family: $body;
text-transform: lowercase;
width: 100%;
z-index: 50;
text-align: center;
padding: 0;
}


ul.test {
    list-style-type: none;
    // float: left;
    padding: 0;
    margin:0.8em auto -3em auto;
    li {
        text-align: center;
        display: inline-block;
        background-color: $navbar;
        padding: 0.5em 0.3em;
    }
}
ul.test li:first-child a {
    font-size: 1.2em; // for mobile
    &:link,
    &:visited {
        color: $indigo;
        background-color: $indigo1;
    }
    &:active,
    &:hover {
        color: $orange1;
        background-color: $peach1;
    }
}
ul.test li:nth-child(2) a {
    font-size: 1.2em; // for mobile
    &:link,
    &:visited {
        color: $pink1;
        background-color: $pink2;
    }
    &:active,
    &:hover {
        color: $orange1;
        background-color: $peach1;
    }
}
ul.test li:nth-child(3) a {
    font-size: 1.2em; // for mobile
    &:link,
    &:visited {
        color: $green1;
        background-color: $green2;
    }
    &:active,
    &:hover {
        color: $orange1;
        background-color: $peach1;
    }
}
ul.test li:nth-child(4) a {
    font-size: 1.2em; // for mobile
    &:link,
    &:visited {
        color: $blue1;
        background-color: $blue3;
    }
    &:active,
    &:hover {
        color: $orange1;
        background-color: $peach1;
    }
}



@font-face {
    font-family: 'lemonmilkregular';
    src: url('../fonts/lemonmilk-webfont.eot');
    src: url('../fonts/lemonmilk-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lemonmilk-webfont.woff2') format('woff2'), url('../fonts/lemonmilk-webfont.woff') format('woff'), url('../fonts/lemonmilk-webfont.ttf') format('truetype'), url('../fonts/lemonmilk-webfont.svg#lemonmilkregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    // background-color: #fdf;
    // background-color: #fff;
    font-family: $body;
    font-size: 1em;
}
.h1 {
    font-family: $heading;
    font-size: 3em;
    padding: 0.1em;
}
.h3 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-size: 1.8em;
    line-height: 1em;
    font-family: $heading;
    display: block;
}
.h4 {
    font-size: 1.2em;
    display: block;
    font-weight: bold;
    font-style: italic;
}
.nav {
    font-family: $body;
    text-transform: lowercase;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: $navbar;
    text-align: center;
    color: $navtext;
    padding: 0;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.25,0.1,0.25,1);
    -moz-transition: -moz-transform 1s cubic-bezier(0.25,0.1,0.25,1);
    transition: transform 1s cubic-bezier(0.25,0.1,0.25,1);
    ul {
        list-style-type: none;
        // float: left;
        padding: 0;
        li {
            text-align: center;
            display: inline-block;
            background-color: $navbar;
            padding: 0.5em 0.3em;
        }
    }
    li:first-child a {
        font-size: 1.2em; // for mobile
        &:link,
        &:visited {
            color: $indigo;
            background-color: $indigo1;
        }
        &:active,
        &:hover {
            color: $orange1;
            background-color: $peach1;
        }
    }
    li:nth-child(2) a {
        font-size: 1.2em; // for mobile
        &:link,
        &:visited {
            color: $pink1;
            background-color: $pink2;
        }
        &:active,
        &:hover {
            color: $orange1;
            background-color: $peach1;
        }
    }
    li:nth-child(3) a {
        font-size: 1.2em; // for mobile
        &:link,
        &:visited {
            color: $green1;
            background-color: $green2;
        }
        &:active,
        &:hover {
            color: $orange1;
            background-color: $peach1;
        }
    }
    li:nth-child(4) a {
        font-size: 1.2em; // for mobile
        &:link,
        &:visited {
            color: $blue1;
            background-color: $blue3;
        }
        &:active,
        &:hover {
            color: $orange1;
            background-color: $peach1;
        }
    }
    &.hidden {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
.splash {
    position: relative;
    top: 4.6em;
    background-color: $peach;
    padding: 3.5em 1em 1em;
    text-align: center;
    transition: all 1s ease;
}
.about {
    position: relative;
    top: 4.6em;
    background-color: $blue2;
    text-align: center;
    padding: 1em;
    #abt {
        color: $indigo;
        background-color: #fff;
    }
    img {
        width: 70%;
        margin-top: 1em;
    }
    .desc {
        font-size: 1.1em;
        padding: 1em;
        background-color: #fff;
        border: 0.8em solid $peach;
    }
}
.skills {
    position: relative;
    top: 4.6em;
    background-color: $green2;
    text-align: center;
    padding: 1em;
    .desc2 {
        padding: 1em;
        background-color: #fff;
        border: 0.8em solid $purple1;
    }
    .h2 {
        font-family: $heading;
        color: $orange1;
        font-size: 1.8em;
    }
    ul.level {
        margin-top: 0;
        padding: 0;
        font-family: $heading;
        list-style-type: none;
        font-size: 1.1em;
        li {
            display: inline-block;
            padding: 0.2em;
            &:first-child {
                color: $blue1;
            }
            &:nth-child(2) {
                color: $orange2;
            }
            &:last-child {
                color: $green1;
            }
        }
    }
    .name {
        display: inline-table;
        width: 7em;
        margin: auto;
        text-align: right;
        font-size: 1.1em;
        vertical-align: baseline;
    }
    .blue {
        background-color: $blue1;
        height: 1em;
    }
    .orange {
        background-color: $orange2;
        height: 1em;
    }
    .green {
        background-color: $green1;
        height: 1em;
    }
    .bar {
        display: inline-table;
        margin: auto;
        height: 1em;
        width: 50%;
        vertical-align: middle;
    }
    .skill:hover {
        background-color: $pink2;
        .green {
            background-color: #b9f92f;
        }
        .orange {
            background-color: #ffd646;
        }
        .blue {
            background-color: #b6f4ff;
        }
    }
}
.work {
    position: relative;
    top: 4.6em;
    background-color: $pink2;
    text-align: center;
    padding: 1em;
    #wrk {
        color: $pink1;
        background-color: #fff;
    }
    .project {
        margin-top: 2em;
        padding: 1.5em;
        background-color: #fff;
        .image {
            display: inline-block;
            // margin: 1em;  //USE FOR DESKTOP
            // width: 20%;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            float: left;
            .pic {
                margin: auto;
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
        .info {
            display: inline-block;
            margin: auto;
            // width: 65%; //USE FOR DESKTOP
            vertical-align: middle;
            p {
                font-size: 1.1em;
            }
        }
    }
}
.contact {
    position: relative;
    top: 4.6em;
    background-color: $purple3;
    text-align: center;
    padding: 1em;
    #mail {
        color: $blue1;
        background-color: #fff;
    }
    .mail {
        text-align: left;
        font-size: 1.1em;
        padding: 0.4em;
        margin-top: 1em;
        background-color: #fff;
        border: 0.6em solid $green2;
        color: $purple;
        .fa {
            padding-left: 0.3em;
            padding-right: 0.8em;
        }
        a {
            font-weight: bold;
            text-decoration: none;
        }
        .lin {
            color: $linkedin;
            &:hover {
                color: #1a91d7;
            }
        }
        .twit {
            color: $twitter;
            &:hover {
                color: #83c6f5;
            }
        }
        .git {
            color: $orange2;
            &:hover {
                color: #ffcd6e;
            }
        }
        .pen {
            color: $pink1;
            &:hover {
                color: #ff95c4;
            }
        }
    }
    .email {
        width: 70%;
        margin: 1.5em auto auto;
        padding-top: 0.2em;
        font-weight: bold;
        color: $peach;
        background-color: $purple2;
        cursor: pointer;
        &:hover {
            background-color: $purple1;
            a {
                color: $blue2;
            }
        }
        a {
            color: $green2;
            text-decoration: none;
        }
    }
}
.art {
    position: relative;
    top: 4.6em;
    background-color: $cyan;
    text-align: center;
    padding: 1em;
    #artsy {
        color: $green1;
        background-color: #fff;
    }
}
.footer {
    position: relative;
    top: 4.6em;
    background-color: $peach;
    text-align: center;
    padding: 1em 0;
    .copyright {
        padding-top: 0.4em;
        padding-bottom: 0.1em;
        background-color: #fff;
        font-weight: bold;
    }
}
