$navbar: #fff;
$heading: 'lemonmilkregular';
$body: Consolas, monaco, monospace;
$pink1: #ff55a1;
$pink2: #ffeef6;
$orange1: #ff7835;
$orange3: #ffe1d2;
$orange2: #ffba35;
$green1: #9ee00f;
$green2: #f3ffd6;
$green3: #cad9a5;
$peach: #fdf1c5;
$peach1: #fff8e0;
$blue1: #86e1f1;
$blue2: #c2eef5;
$blue3: #e2fbff;
$cyan: #e3f9f1;
$indigo: #a0b0ff;
$indigo1: #e8ecff;
$purple: #993dda;
$purple1: #bf7eed;
$purple2: #cba0e9;
$purple3: #e8cbfb;
$linkedin: #0072b5;
$twitter: #5da8dc;
$text: #333;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
@font-face {
    font-family: 'lemonmilkregular';
    src: url('../fonts/lemonmilk-webfont.eot');
    src: url('../fonts/lemonmilk-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lemonmilk-webfont.woff2') format('woff2'), url('../fonts/lemonmilk-webfont.woff') format('woff'), url('../fonts/lemonmilk-webfont.ttf') format('truetype'), url('../fonts/lemonmilk-webfont.svg#lemonmilkregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: $body;
    font-size: 1em;
    color: $text;
}
.h1 {
    font-family: $heading;
    font-size: 3em;
    padding: 0.1em;
}
.h3 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-size: 1.8em;
    line-height: 1em;
    font-family: $heading;
    display: block;
    @media screen and (min-width: $laptop) {
        font-size: 1.2em;
    }
}
.h4 {
    font-size: 1.2em;
    display: block;
    font-weight: bold;
    font-style: italic;
    @media screen and (min-width: $laptop) {
        font-size: 1em;
    }
}
.nav {
    font-family: $body;
    text-transform: lowercase;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: $navbar;
    text-align: center;
    padding: 0;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.25,0.1,0.25,1);
    -moz-transition: -moz-transform 1s cubic-bezier(0.25,0.1,0.25,1);
    transition: transform 1s cubic-bezier(0.25,0.1,0.25,1);
    ul {
        list-style-type: none;
        padding: 0;
        @media screen and (min-width: $tablet) {
            float: right;
            padding-right: 2em;
        }
        @media screen and (min-width: $laptop) {
            margin-right: 6.5em;
        }
        @media screen and (min-width: $desktop) {
            margin-right: 9.5em;
        }
        li {
            font-size: 1.2em;
            text-align: center;
            display: inline-block;
            background-color: $navbar;
            padding: 0.9em 0.3em 0.5em;
            transition: 500ms all ease-in;
            @media screen and (min-width: $tablet) {
                font-size: 1.5em;
                padding: 0.6em 0.3em 0.2em;
            }
            &:first-child a {
                &:link,
                &:visited {
                    color: $indigo;
                    background-color: $indigo1;
                }
                &:active,
                &:hover {
                    color: $orange1;
                    background-color: $peach1;
                }
            }
            &:nth-child(2) a {
                &:link,
                &:visited {
                    color: $pink1;
                    background-color: $pink2;
                }
                &:active,
                &:hover {
                    color: $orange1;
                    background-color: $peach1;
                }
            }
            &:nth-child(3) a {
                &:link,
                &:visited {
                    color: $green1;
                    background-color: $green2;
                }
                &:active,
                &:hover {
                    color: $orange1;
                    background-color: $peach1;
                }
            }
            &:nth-child(4) a {
                &:link,
                &:visited {
                    color: $blue1;
                    background-color: $blue3;
                }
                &:active,
                &:hover {
                    color: $orange1;
                    background-color: $peach1;
                }
            }
        }
    }
    &.hidden {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
.splash {
    position: relative;
    top: 4.6em;
    background-color: $peach;
    padding: 1.4em 1em 1em;
    text-align: center;
    transition: 500ms all ease-in;
    @media screen and (min-width: $tablet) {
        padding: 3.6em 3em 3em;
    }
    @media screen and (min-width: $laptop) {
        padding: 4.6em 9em 4em;
    }
    @media screen and (min-width: $desktop) {
        padding: 3.7em 12em;
    }
}
.about {
    position: relative;
    top: 4.6em;
    background-color: $blue2;
    text-align: center;
    padding: 1em;
    transition: 500ms all ease-in;
    #abt {
        color: $indigo;
        background-color: #fff;
    }
    #me {
        text-align: center;
        img {
            width: 70%;
            margin-top: 1em;
        }
    }
    .desc {
        font-size: 1.1em;
        padding: 1em;
        background-color: #fff;
        border: 0.8em solid $peach;
    }
    @media screen and (min-width: $tablet) {
        padding: 2.8em 2em;
        #me {
            margin-top: 2em;
            margin-right: 1em;
            display: inline-table;
            width: 30%;
            vertical-align: top;
            img {
                width: 100%;
            }
        }
        .desc {
            margin-top: 2em;
            display: inline-table;
            width: 50%;
        }
    }
    @media screen and (min-width: $laptop) {
        padding: 4.8em 5em;
        #me {
            margin-top: 1em;
            margin-right: 1.5em;
        }
        .desc {
            margin-top: 3em;
            width: 40%;
        }
    }
    @media screen and (min-width: $desktop) {
        padding: 4.8em 8em;
        .desc {
            margin-top: 4em;
        }
    }
}
.skills {
    position: relative;
    top: 4.6em;
    background-color: $green2;
    text-align: center;
    padding: 1em;
    transition: 500ms all ease-in;
    @media screen and (min-width: $tablet) {
        padding: 3.7em;
    }
    @media screen and (min-width: $laptop) {
        padding: 3.7em 9.8em;
    }
    @media screen and (min-width: $desktop) {
        padding: 3.7em 14.8em;
    }
    .desc2 {
        padding: 1em;
        background-color: #fff;
        border: 0.8em solid $purple1;
        @media screen and (min-width: $tablet) {
            padding: 2em;
        }
        @media screen and (min-width: $laptop) {
            padding: 2.5em;
        }
    }
    .h2 {
        font-family: $heading;
        color: $orange1;
        font-size: 1.8em;
        @media screen and (min-width: $tablet) {
            font-size: 2.6em;
        }
    }
    ul.level {
        margin-top: 0;
        padding: 0;
        font-family: $heading;
        list-style-type: none;
        font-size: 1.1em;
        @media screen and (min-width: $tablet) {
            font-size: 1.6em;
            margin-bottom: 0.3em;
        }
        li {
            display: inline-block;
            padding: 0.2em;
            &:first-child {
                color: $blue1;
            }
            &:nth-child(2) {
                color: $orange2;
            }
            &:last-child {
                color: $green1;
            }
        }
    }
    .name {
        display: inline-table;
        width: 7em;
        margin: auto;
        text-align: right;
        font-size: 1.1em;
        vertical-align: baseline;
    }
    .blue {
        background-color: $blue1;
        height: 1em;
    }
    .orange {
        background-color: $orange2;
        height: 1em;
    }
    .green {
        background-color: $green1;
        height: 1em;
    }
    .bar {
        display: inline-table;
        margin: auto;
        height: 1em;
        width: 50%;
        vertical-align: middle;
    }
    .skill:hover {
        background-color: $pink2;
        .green {
            background-color: #b9f92f;
        }
        .orange {
            background-color: #ffd646;
        }
        .blue {
            background-color: #b6f4ff;
        }
    }
}
.work {
    position: relative;
    top: 4.6em;
    background-color: $pink2;
    padding: 1em;
    transition: 500ms all ease-in;
    @media screen and (min-width: $tablet) {
        padding: 3.7em;
        text-align: justify;
    }
    @media screen and (min-width: $laptop) {
        padding: 3.7em 9.8em;
    }
    @media screen and (min-width: $desktop) {
        padding: 3.7em 14.8em;
    }
    #wrk {
        color: $pink1;
        background-color: #fff;
    }
    .project {
        margin-top: 2em;
        padding: 1.5em;
        background-color: #fff;
        @media screen and (min-width: $tablet) {
            display: inline-table;
            width: 49%;
            vertical-align: top;
        }
        @media screen and (min-width: $laptop) {
            width: 32%;
            padding: 1em;
        }
        .image {
            display: inline-block;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            float: left;
            .pic {
                margin: auto;
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
        .info {
            display: inline-block;
            margin: auto;
            vertical-align: middle;
            span {
                text-align: center;
            }
            p {
                text-align: center;
                font-size: 1.1em;
                @media screen and (min-width: $laptop) {
                    font-size: 0.9em;
                }
            }
        }
    }
}
.art {
    position: relative;
    top: 4.6em;
    margin: auto;
    background-color: $cyan;
    text-align: center;
    padding: 3em 0 0;
    @media screen and (min-width: $tablet) {
        padding: 3.7em;
    }
    @media screen and (min-width: $laptop) {
        padding: 3.7em 9.8em;
    }
    @media screen and (min-width: $desktop) {
        padding: 3.7em 14.8em;
    }
    #artsy {
        color: $green1;
        background-color: #fff;
    }
    #grid {
        width: 100%;
        display: table;
        margin: 2em auto 0;
        .block {
            display: inline-table;
            width: 50%;
            // padding: 5em 0;
            p {
                background-color: rgba(#ffffff, 0.8);
                padding-top: 1em;
                padding-bottom: 1em;
                font-size: 1em;
                span {
                  display:block;
                    font-size: 1.1em;
                    font-weight: bold;
                    a {
                        color: rgb(12, 166, 187);
                        &:hover {
                            color: rgb(54, 213, 190);
                        }
                    }
                }
            }
            &:first-child {
                background-color: $pink2;
                background-image: url("../img/gallery/design/gradient.jpg");
                background-size: 20em;
            }
            &:nth-child(2) {
                background-color: $blue2;
                background-image: url("../img/gallery/trad/print.png");
                background-size: 30em;

            }
            &:nth-child(3) {
                background-color: $purple3;
            }
            &:nth-child(4) {
                background-color: $green2;
            }
            &:nth-child(5) {
                background-color: $orange3;
            }
            &:nth-child(6) {
                background-color: $indigo1;
            }
        }
    }
}
.contact {
    position: relative;
    top: 4.6em;
    background-color: $purple3;
    text-align: center;
    padding: 1em;
    transition: 500ms all ease-in;
    @media screen and (min-width: $tablet) {
        padding: 3.7em;
    }
    @media screen and (min-width: $laptop) {
        padding: 3.7em 9.8em;
    }
    #mail {
        color: $blue1;
        background-color: #fff;
    }
    .mail {
        text-align: left;
        font-size: 1.1em;
        padding: 0.4em;
        margin-top: 1em;
        background-color: #fff;
        border: 0.6em solid $green2;
        color: $purple;
        @media screen and (min-width: $tablet) {
            width: 70%;
            margin: 1em auto 0;
        }
        @media screen and (min-width: $laptop) {
            padding: 1em;
        }
        .fa {
            padding-left: 0.3em;
            padding-right: 0.8em;
        }
        a {
            font-weight: bold;
            text-decoration: none;
        }
        .lin {
            color: $linkedin;
            &:hover {
                color: #1a91d7;
            }
        }
        .twit {
            color: $twitter;
            &:hover {
                color: #83c6f5;
            }
        }
        .git {
            color: $orange2;
            &:hover {
                color: #ffcd6e;
            }
        }
        .pen {
            color: $pink1;
            &:hover {
                color: #ff95c4;
            }
        }
    }
    .email {
        width: 70%;
        margin: 1.5em auto auto;
        padding-top: 0.2em;
        font-weight: bold;
        color: $peach;
        background-color: $purple2;
        cursor: pointer;
        @media screen and (min-width: $tablet) {
            width: 38%;
        }
        &:hover {
            background-color: $purple1;
            a {
                color: $blue2;
            }
        }
        a {
            color: $green2;
            text-decoration: none;
        }
    }
}
.footer {
    position: relative;
    top: 4.6em;
    background-color: $peach;
    text-align: center;
    padding: 1em 0;
    .copyright {
        padding-top: 0.4em;
        padding-bottom: 0.1em;
        background-color: #fff;
        font-weight: bold;
    }
}
